body {
    margin: 0;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    border: 2px solid white;
    image-rendering: pixelated;
}
